.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile__image:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.profile__image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background-image: url("../../../images/edit-pen.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__image:hover::after {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
